---
import Default from '@astrojs/starlight/components/SiteTitle.astro'
import NavbarTopicList from './NavbarTopicList.astro'
---

<div>
  <Default><slot /></Default>
  <NavbarTopicList />
</div>

<style>
  div {
    display: flex;
    align-items: center;
    gap: var(--sl-nav-gap);
  }
</style>
