---
const { topics } = Astro.locals.starlightSidebarTopics
---

<nav>
  <ul>
  {
    topics.map((topic) => (
      <li>
        <a
          href={topic.link}
          aria-current={topic.isCurrent ? 'page' : false}
        >
          {topic.label}
        </a>
      </li>
    ))
  }
  </ul>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: var(--sl-nav-gap);
  }

  a {
    text-decoration: none;
    color: var(--sl-color-gray-1);
  }

  a:hover,
  a:focus {
    color: var(--sl-color-white);
  }

  [aria-current="page"],
  [aria-current="page"]:hover,
  [aria-current="page"]:focus {
    font-weight: 600;
  }

  @media (min-width: 50rem) {
    a {
      font-size: var(--sl-text-sm);
    }
  }
</style>
